.chess-figure
    fa-icon(
        'icon'='chess-{{ type }}'
        '[fixedWidth]'='true'
        '[ngStyle]'='{fontSize: "70px"}'
        '[styles]'='{color: colorSchema[side + "PieceColor"]}'
    )
